@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'vazir';
	src: url('/Vazir.woff2') format('woff2'), url('/Vazir.woff') format('woff'), url('/Vazir.ttf') format('truetype');
}
body {
	font-family: 'vazir';
	font-size: 16px;
}
